<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>

    <div class="logo">
        <a href="index.html"><img src="../static/images/logo5.png"></a>
        <div class="welcome-txt">
            <h2>Holliday Cottage</h2>
        </div>
    </div>

        <div class="about">
        <div class="about-text">
            <h1>Holiday Cottage</h1>
            <h1>- Twój wymarzony domek letniskowy</h1>
            <p>
                Holiday Cottage to magiczne miejsce, gdzie komfort, harmonia z naturą i spokój tworzą niezapomnianą atmosferę,
                idealną do letniego wypoczynku. Otoczony malowniczym otoczeniem i bujną zielenią, nasz ośrodek oferuje prywatność,
                czyniąc każdy pobyt wyjątkowym doświadczeniem.
            </p>
            <p>Witając każdego Gościa z serdecznością, Holiday Cottage zobowiązuje się do stworzenia domowej atmosfery,
                gdzie każdy odwiedzający może poczuć się jak w swoim własnym domu. Nasze komfortowe domki letniskowe są
                doskonale wyposażone we wszystko, co niezbędne do relaksu i pełnego wypoczynku. Dbamy o najmniejsze detale,
                aby stworzyć atmosferę sprzyjającą rodzinnej zabawie, romantycznym chwilom i spokojnemu odpoczynkowi w
                otoczeniu przyrody.
            </p>
            </div>
            <div class="about-text2">
                <h1>Odkryj urok Holiday Cottage</h1>

            <p>
                Doświadcz radości spędzania czasu na świeżym powietrzu, gdzie otaczający nas krajobraz staje się areną
                przygód i odkryć. Zachęcamy do eksplorowania okolicznych atrakcji i delektowania się urokami przyrody,
                które otaczają nasz ośrodek. Holiday Cottage to miejsce, gdzie marzenia o idealnych wakacjach stają się
                rzeczywistością.
            </p>
                <p>
                Rozpocznij dzień od leniwego poranka na tarasie, wdychając świeże powietrze i ciesząc się pierwszymi
                promieniami słońca. Nasze domki letniskowe, pełne ciepła i uroku, zapewnią Ci komfortowy sen i wypoczynek.
                Zadbaliśmy o każdy detal, byś mógł delektować się chwilami spokoju, z dala od zgiełku codziennego życia.
            </p>
            </div>
            <div class="about-text3">
                <h1>Holiday Cottage to nie tylko miejsce na nocleg</h1>

            <p>
                Holiday Cottage to nie tylko miejsce do spania – to przestrzeń do tworzenia niezapomnianych wspomnień.
                Znajdziesz tu przytulne kąty do czytania książki, kameralne miejsca na rozmowy przy kawie czy wieczornej
                lampce wina. Nasz ośrodek stwarza atmosferę sprzyjającą relacjom rodzinnych, romantycznym uniesieniom
                oraz indywidualnemu wypoczynkowi.
            </p>
            <p>
                W ciągu dnia zachęcamy do korzystania z licznych atrakcji otaczających Holiday Cottage. Spływ kajakiem
                po malowniczej rzece, piesze wędrówki szlakami otaczającymi nasz teren czy wieczorne ognisko pod gwiazdami
                – to tylko niektóre z atrakcji, które sprawią, że Twój pobyt będzie pełen niezapomnianych chwil. Niech
                Holiday Cottage stanie się Twoją oazą spokoju, gdzie każdy dzień jest wyjątkową podróżą.
            </p>

            </div>
        </div>

</body>
</html>