<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<h1>Lista Rezerwacji</h1>

<table border="1">
    <tr>
        <th>Domek</th>
        <th>Data start</th>
        <th>Data end</th>
        <th>Cena</th>
        <th>Liczba osób</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.cottageId}"></td>
        <td th:text="${reservation.startDate}"></td>
        <td th:text="${reservation.endDate}"></td>
        <td th:text="${reservation.getPrice()}"></td>
        <td th:text="${reservation.getNumberOfPersons()}"></td>
        <td th:text="${reservation.status}"></td>
        <td th:if="${reservation.status.equals('PENDING')}">
        <form th:action="'/account/Cancel/'+${reservation.getId()}" method="post">
                <input type="submit" value="Cancel">
            </form>
        </td>
    </tr>
</table>
</body>
</html>