<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacje o Domku</title>
    <link rel="stylesheet" type="text/css" href="../static/css/domkiStyle.css">
</head>

<body>
<header class="main">
    <div class="logo">
        <a href="index.html"><img src="../static/images/logo5.png" alt="Holliday Cottage Logo"></a>
        <div class="welcome-txt">
            <h2>Holliday Cottage</h2>
        </div>
    </div>
</header>

<div th:if="${error}" class="error-msg">
    <p th:text="${error}"></p>
</div>

<section class="info-section">
    <h2 th:text="${cottage.getName()}">Opis</h2>
    <p th:text="${cottage.getDescription()}"></p>
</section>

<section class="info-section">
    <h2>Cena:</h2>
    <p th:text="'Cena za noc: ' + ${cottage.getPricePerNight()} + 'zł'"></p>
</section>

<section class="info-section">
    <h2>Galeria</h2>
    <div class="gallery">
        <img th:src="@{'/images/domek' + ${cottage.id} + '/zdj1'}" alt="Domku Zdjęcie 1">
        <img th:src="@{'/images/domek' + ${cottage.id} + '/zdj2'}" alt="Domku Zdjęcie 2">
        <img th:src="@{'/images/domek' + ${cottage.id} + '/zdj3'}" alt="Domku Zdjęcie 3">
    </div>
</section>

<a th:href="'/reservation/'+${cottage.getId()}" class="link-btn">Zarezerwuj</a>
</body>

</html>

