<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulamin Wynajmu Domków Letniskowych</title>
    <link rel="stylesheet" href="/css/regulamin.css">
    <link rel="stylesheet" href="/css/logo.css">
</head>

<body>
<div class="main">
    <div class="logo">
        <a href="/"><img src="/images/logo5.png" alt="logo"></a>
        <div class="welcome-txt">
            <h1>Regulamin Wynajmu Domków Letniskowych</h1>
        </div>
    </div>
</div>
<section>
    <h2>§ 1. Rezerwacja i Potwierdzenie Rezerwacji</h2>
    <p>1.1. Rezerwacje domków letniskowych są przyjmowane przez platformę internetową, telefonicznie lub osobiście w
        siedzibie firmy.</p>
    <p>1.2. Potwierdzenie rezerwacji następuje po wpłacie zadatku w wysokości [określić procent wartości wynajmu]
        całkowitej kwoty wynajmu na wskazane przez firmę konto.</p>
</section>

<section>
    <h2>§ 2. Płatności</h2>
    <p>2.1. Całkowita kwota wynajmu domku letniskowego powinna być uregulowana przez Najemcę najpóźniej [określić ilość
        dni] dni przed datą rozpoczęcia wynajmu.</p>
    <p>2.2. W przypadku nieterminowej płatności firma ma prawo odstąpić od umowy wynajmu.</p>
</section>

<section>
    <h2>§ 3. Kaucja</h2>
    <p>3.1. Przy zameldowaniu wymagane jest wpłacenie kaucji w wysokości [określić kwotę], która jest zabezpieczeniem na
        wypadek ewentualnych szkód w domku letniskowym.</p>
    <p>3.2. Kaucja zostanie zwrócona Najemcy po zakończeniu pobytu, po sprawdzeniu stanu technicznego domku.</p>
</section>

<section>
    <h2>§ 4. Przyjazd i Wyjazd</h2>
    <p>4.1. Zameldowanie możliwe jest od godziny [określić godzinę], a wymeldowanie należy dokonać do godziny [określić
        godzinę].</p>
    <p>4.2. W przypadku opóźnienia wymeldowania firma ma prawo naliczyć opłatę dodatkową za każdą rozpoczętą godzinę
        zwłoki.</p>
</section>

<section>
    <h2>§ 5. Zasady Korzystania z Domku Letniskowego</h2>
    <p>5.1. Domki letniskowe wynajmowane są wyłącznie na cele rekreacyjne.</p>
    <p>5.2. Zakazane jest przekraczanie maksymalnej liczby osób zakwaterowanych.</p>
    <p>5.3. Zakazane jest organizowanie imprez zakłócających spokój sąsiadów.</p>
    <p>5.4. Zwierzęta domowe są akceptowane po wcześniejszym uzgodnieniu.</p>
    <p>5.5. Należy dbać o porządek wewnątrz domku oraz na terenie posesji.</p>
</section>

<!-- Kontynuuj sekcje § 6, § 7, itd. -->

<section>
    <h2>§ 6. Odpowiedzialność</h2>
    <p>6.1. Firma nie ponosi odpowiedzialności za utratę lub uszkodzenie mienia Najemcy.</p>
    <p>6.2. Najemca ponosi pełną odpowiedzialność za wszelkie szkody wyrządzone mieniu firmy lub innych osób na terenie
        posesji.</p>
</section>

<section>
    <h2>§ 7. Postanowienia Końcowe</h2>
    <p>7.1. Regulamin wchodzi w życie z chwilą korzystania z usług wynajmu domków letniskowych.</p>
    <p>7.2. Firma zastrzega sobie prawo do zmiany regulaminu. Zmiany wchodzą w życie po opublikowaniu ich na stronie
        internetowej.</p>
</section>

</body>

</html>
