<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/calendar.js"></script>
    <title>Formularz Rezerwacji Domków Letniskowych</title>
</head>
<body>
<section class="banner">
    <div class="main">
        <div class="logo">
            <a href="/"><img src="/images/logo5.png" alt="logo"></a>
            <div class="welcome-txt">
                <h2>Holiday Cottage</h2>
            </div>
        </div>
    </div>

    <h1 class="title">Rezerwacja Domków Letniskowych</h1>
    <div class="card-container">
        <div class="card-img">

        </div>
        <div class="card-content">
            <div th:if="${error}">
                <p class="error" th:text="${error}"></p>
            </div>

            <div th:if="${success}">
                <p class="success" th:text="${success}"></p>
            </div>
            <div class="form-row">
                <form method="post" class="availability-check">
                    <label for="check-in">Data przyjazdu:
                        <input type="text" id="check-in" name="startDate" placeholder="Select date" required>
                    </label>
                    <label for="check-out">Data wyjazdu:
                        <input type="text" id="check-out" name="endDate" placeholder="Select date" required>
                    </label>
                    <label for="guests" class="with-icon">Liczba osób:<br>
                        <input type="number" id="guests" name="numberOfPersons" min="1" required>
                    </label>
                    <label for="uwagi">Dodatkowe uwagi:</label>
                    <textarea id="uwagi" name="uwagi" rows="4" cols="50" maxlength="255"></textarea><br>
                    <button type="submit" name="sub" class="submit-button">Sprawdź dostępność</button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${Customer}" class="card-container">
        <div class="card-img"></div>
        <div class="card-content">
            <form id="myForm2" action="/ResAdd" method="post" th:action="@{/ResAdd}">
                <p th:text="'Imie: ' + ${Customer.getName()}"></p>
                <p th:text="'Nazwisko: ' + ${Customer.getSurname()}"></p>
                <p th:text="'Nr_tel: ' + ${Customer.getPhoneNumber()}"></p>
                <p th:text="'Start: ' + ${Res.getStartDate()}"></p>
                <p th:text="'End: ' + ${Res.getEndDate()}"></p>

                <p th:text="'Cenna: ' + ${Res.getPrice()}"></p>

                <button type="submit" name="ResAdd" class="submit-button">Zarezerwuj</button>
            </form>
        </div>
    </div>

</section>

</body>
</html>