<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/reservationall.css">
</head>
<body>
<div class="main">
    <div class="logo">
        <a href="/"><img src="/images/logo5.png" alt="logo"></a>
        <div class="welcome-txt">
            <h2>Holiday Cottage</h2>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="tile">
        <a href="/reservation/1"><img src="/images/domek1.png"/></a>
        <div class="text">
            <h1>Słoneczne Ustronie</h1>
            <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork
                chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
        </div>
    </div>

    <div class="tile">
        <a href="/reservation/2"><img src="/images/domek2.png"/></a>
        <div class="text">
            <h1>Letni Oazis</h1>
            <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork
                chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
        </div>
    </div>

    <div class="tile">
        <a href="/reservation/3"><img src="/images/domek3.png"/></a>
        <div class="text">
            <h1>Gniazdo Marzeń</h1>
            <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork
                chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
        </div>
    </div>

    <div class="tile" href="/reservation/4">
        <a href="/reservation/4"><img src="/images/domek4.png"/></a>
        <div class="text">
            <h1>Błękitna podróż</h1>
            <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork
                chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
        </div>
    </div>
</div>

</body>
</html>